extends ../layouts/base

block content
  .container: .row: .col-lg-12
    p: +abtn({href: '/', title: 'BACK', icon: 'chevron-left', type: 'secondary'})
    if !data.post 
      +no-content()
    else
      .post
        article
          header
            h1.display-4= data.post.title
            h5.text-muted
              if data.post.publishedDate
                != data.post._.publishedDate.moment().from()
              if data.post.author 
                |  | #{data.post.author.name.first}
          if data.post.image.exists
            .image-wrap: img(src=data.post._.image.fit(750,450)).img-responsive
          .lead.muted
            != data.post.content.brief.html
          .main
            != data.post.content.full.html
