mixin card-post (post)
  .card
    h5.card-header
      a(href!= '/post/' + post.slug)= post.title
    .card-block
      p.card-subtitle.small.text-muted!= post._.publishedDate.moment().from()
      if (post.content.customPreview === true)
        p.card-blockquote!= post.content.preview.html
      else
        p.card-blockquote!= post.content.brief.html
