mixin no-content()
  .jumbotron
    h1 Whoops!
    h4 Looks like something went wrong loading up Styers.co
    p if you're seeing this and feeling generous, 
      +abtn({title:'let us know', href: '/contact', type:'warning-outline btn-sm'})
