include ../mixins/index

doctype html
html(lang="en")

  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")

    title= title || 'site'
    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")

    //- link(href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css", rel="stylesheet", integrity="sha256-xWeRKjzyg6bep9D1AsHzUPEWHbWMzlRc84Z0aG+tyms= sha512-mGIRU0bcPaVjr7BceESkC37zD6sEccxE+RJyQABbbKNe83Y68+PyPM5nrE1zvbQZkSHDCJEtnAcodbhlq2/EkQ==", crossorigin="anonymous")
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css", rel="stylesheet")
    link(href="/styles/site.css", rel="stylesheet")


    if user && user.canAccessKeystone
      link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")

    block css

    script(src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js")
    script(src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js")

    block head

  body
    include ../components/nav
    block intro
      +flash-messages(messages)
    block content

    include ../components/footer

    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js", integrity="sha256-GMscmjNs6MbZvXG2HRjP3MpdOGmXv078SRgH7M723Mc= sha512-1wnhBRtA+POGVA0yREk2RlDbJEdkNvMuRBGjT1FCI5wXmpiQHZWDIB8MpANBWM/GKSPDgCA/7HTrAIFgv70/Jw==", crossorigin="anonymous")  
    if user && user.canAccessKeystone
      script(src='/keystone/js/content/editor.js')

    block js
