body {
 color: $gray-dark;
}
#footer {
 padding-top: 30px;
 margin-top: 30px;
 color: #777;
 border-top: 1px solid #eee;
}
.gallery-image img {
 display: block;
 max-width: 100%;
 height: auto;
}
.section {
 padding: 20px 0;
}
