include ../mixins/index

//- template variables
block vars
  
doctype html
html(lang="en")
  head
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel="stylesheet", integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==", crossorigin="anonymous")
    +style('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
    +style('https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic')
    +style('/styles/site.min.css')
  body
    include ./tag.html
    block content
        //- block body
