footer.footer
  .container-fluid
    center.small.text-xs-center.text-muted Made with  #[i.fa.fa-fire(style="padding:5px;color:orange")] by Matthew and Taylor Styers on #[a(href: 'http://keystonejs.com') KeystoneJS]
