footer.footer
  .container-fluid
    center.small.text-xs-center.text-muted Made in Houston by Matthew and Taylor Styers. #[i.fa.fa-copyright(style="padding: 0 3px;")]2016 Our Cat, Hillary Kitten. All Rights Repurrved.
