.footer {
  position: relative;
  bottom: 0;
  z-index: 10;
  width: 100%;
  height: auto;
  min-height: $footer-height;
  background-color: white;
}
footer {
  .container-fluid {
    padding: 15px 10px;
    vertical-align: middle;
  }
}
