.post-preview
{
    #post-category-label
    {
        display: none;
    }
}
.post-preview:hover
{
    #post-category-label
    {
        font-size: 1.05rem;

        display: inline;

        margin-left: 12px;

        vertical-align: middle;

        opacity: .25;
    }
}

.card-deck
{
    #post-category-label
    {
        font-size: 1.05rem;

        display: inline;

        margin-left: 12px;

        vertical-align: middle;

        opacity: .75;
    }
}
