.timeline {
  position: relative;
  padding: 20px 0 20px;
  list-style: none;
}

.timeline:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 12%;
  width: 3px;
  margin-left: -1.5px;
  content: " ";
  background-color: #eee;
}
@include media-breakpoint-down(sm) {
  .timeline:before,
  .timeline-panel:before,
  .timeline-panel:after {
    display: none;
  }
  h1.display-2 {
    font-size: 4rem;
  }
}
@include media-breakpoint-down(xs) {
  .timeline:before,
  .timeline-panel:before,
  .timeline-panel:after {
    display: none;
  }
  h1.display-2 {
    font-size: 3rem;
  }
  h1.display-4 {
    font-size: 2.5rem;
  }
}

.timeline > li {
  position: relative;
  margin-bottom: 20px;
}

.timeline > li:before,
.timeline > li:after {
  display: table;
  content: " ";
}

.timeline > li:after {
  clear: both;
}

.timeline > li:before,
.timeline > li:after {
  display: table;
  content: " ";
}

.timeline > li:after {
  clear: both;
}

.timeline li .timeline-panel {
  position: relative;
  float: left;
  width: 100%;
  padding: 20px;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, .175);
          box-shadow: 0 1px 6px rgba(0, 0, 0, .175);
}

.timeline  li  .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  content: " ";
  border-top: 15px solid transparent;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #ccc;
}

.timeline  li  .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  content: " ";
  border-top: 14px solid transparent;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  border-left: 14px solid #fff;
}



.timeline-badge {
  position: absolute;
  top: 16px;
  z-index: 100;
  // width: 50px;
  // height: 50px;
  // margin-left: -15px;
  font-size: 1.2rem;
  // line-height: 50px;
  color: #fff;
  text-align: center;
  background-color: #999;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
}
.timeline-inverted .timeline-badge {
  position: absolute;
  top: 16px;
  right: 5%;
  width: auto;
  text-align: left;
}
.timeline-inverted .start {
  top: auto;
  bottom: 16px;
  height: auto;
}

.timeline-badge > p {
  padding: 7px 10px;
  margin: 0;
}

.timeline  li.timeline-inverted .timeline-panel {
  float: left;
}

.timeline  li.timeline-inverted .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline  li.timeline-inverted .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline-badge.primary {
  background-color: $brand-primary !important;
}

.timeline-badge.success {
  background-color: $brand-success !important;
}

.timeline-badge.warning {
  background-color: $brand-warning !important;
}

.timeline-badge.danger {
  background-color: $brand-danger !important;
}

.timeline-badge.info {
  background-color: $brand-info !important;
}

.timeline-title {
  margin-top: 0;
  color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}

.timeline-body > p + p {
  margin-top: 5px;
}
